body {

    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.hightlight-name {

    color: orange;
}

section {
    display: flex;

}

.section-one-half-width {
    width: 50%;
    padding: 5px;
}

.section-one-half-width img {
    width: 80%
}

.link-hire-me {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;

}